[user]
	email = davidshepherd7@gmail.com
	name = David Shepherd

[core]
	editor = emacsclient -c
	excludesfile = /home/david/.gitignore_global

[difftool]
	prompt = false

[difftool "diffpdf"]
        cmd = diffpdf \"$LOCAL\" \"$REMOTE\"

[diff "diffpdf"]
    command = diffpdf

[push]
	default = nothing

[alias]


lg1 = log --branches --remotes --tags --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)%n' HEAD

lg2 = log --branches --remotes --tags --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' HEAD

# ben's graph
lg = log --branches --remotes --tags --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate

lg = !"git lg1"

pull-request = "!sensible-browser \"$(git remote get-url \"$1\")/pull-request/new\"" #

# Mercurial commands
up = checkout
co = checkout

[include]
    path = ~/.keys/hub-gitconfig
