[user]
	email = davidshepherd7@gmail.com
	name = David Shepherd

[core]
	editor = emacsclient -c
	excludesfile = /home/david/.gitignore_global

[difftool]
	prompt = false

[difftool "diffpdf"]
        cmd = diffpdf \"$LOCAL\" \"$REMOTE\"

[diff "diffpdf"]
    command = diffpdf
