[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".emacs.d/aggressive-autofill-mode"]
	path = .emacs.d/aggressive-fill-paragraph
	url = git@github.com:davidshepherd7/aggressive-autofill-mode.git
[submodule ".emacs.d/aggressive-fill-paragraph-mode"]
	path = .emacs.d/aggressive-fill-paragraph-mode
	url = git://github.com/davidshepherd7/aggressive-fill-paragraph-mode.git
[submodule ".emacs.d/electric-spacing"]
	path = .emacs.d/electric-spacing
	url = git@github.com:davidshepherd7/electric-spacing.git
